<h1> New Hike </h1>

<%= form_for @hike do |f| %>
    <%= f.label 'Name your Hike!' %>
    <%= f.text_field :name %>
    <%= f.label :trails %>
    <%= f.collection_select :trail_id, Trail.all, :id, :name %>

    <%= f.submit %>
<% end %>