<h1><%=@trail.name%></h1>

<h4>Trail Information:</h4>
    <div>Park: <%= link_to @trail.park.name, park_path(@trail.park.id) %></div>
    <div>Trail distance: <%= "#{@trail.distance_of_trail} miles " %></div>
    <div>Trail elevation: <%= "#{@trail.elevation} feet above sea level" %></div>
    <div>Trail difficulty: <%= @trail.difficulty.capitalize %></div>
    <div>Average trail rating: <%= @trail.average_trail_rating %></div>

<div>Number of Hikers that have completed this trail: <%= @trail.total_hikers %></div>

<%= link_to "Add this Hike", new_trail_hike_path(@trail.id) %>